/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

ul.tasks-types {
    margin: 0;
    padding: 10px 0;
    list-style: none !important;
}

ul.tasks-types > li {
    display: inline;
    padding: 10px 20px;
    font-size: 1.1em;
    font-weight: 500;
}

ul.tasks-types > li > a.active {
    color: black !important;
}

ul.tasks-types > li > a.active > .badge {
    color: white;
    background: black;
}

ul.tasks-types > li > a {
    color: #a0a0a0 !important;
}

.widget.selectable:hover {
    border: 1px #30426a solid;
    cursor: pointer;
}

.widget-icon > .normal {
    font-style: normal;
}

.mrglf16 {
    margin-left: 16px;
}

.float-left { float: left; }

.mrgtop12 { margin-top: 12px; }

.mrgtop24 { margin-top: 24px; }

.mrgtop36 { margin-top: 36px; }

.mrgbtm12 { margin-bottom: 12px; }

.mrgbtm24 { margin-bottom: 24px; }

.mrgbtm36 { margin-bottom: 36px; }

.full-width { width: 100%; }

.float-right { float: right; }

.btn.equal {
    width: 120px;
}