
@{
    ViewBag.Title = "Клиенты";
}

@*<div class="row">
        <div class="col-xs-12">
            <div class="widget">
                <div class="widget-body">
                    <a href="#"><span class="menu-icon fa fa-tasks"></span> Добавить</a>
                </div>
            </div>
        </div>
    </div>*@

<div class="row ng-scope">
    <div class="col-lg-12">
        <div class="widget">
            <div class="widget-header ng-binding">
                <i class="fa fa-users"></i> Клиенты
                <div class="pull-right">
                    <input type="text" placeholder="Поиск" class="form-control input-sm ng-scope">
                </div>
                @*<div class="pull-right">
                        <button class="btn btn-sm btn-info ng-scope">Добавить </button>
                    </div>*@
            </div>
            <div class="widget-body large no-padding">
                @*<div class="loading">
                        <div class="double-bounce1"></div>
                        <div class="double-bounce2"></div>
                    </div>*@
                <div class="widget-content">
                    <div class="table-responsive ng-scope">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-left">№</th>
                                    <th>ФИО</th>
                                    <th>Телефон</th>
                                    <th>Дата</th>
                                    <th class="text-right">Действия</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-left">1</td>
                                    <td>Петров Пётр Петрович</td>
                                    <td>89182645987</td>
                                    <th>30.02.2016</th>
                                    <td class="text-right"><a href="#" class="text-center text-success"><i class="fa fa-gear"></i></a></td>
                                </tr>
                                <tr>
                                    <td class="text-left">2</td>
                                    <td>Сидоров Сидор Сидорович</td>
                                    <td>89182645987</td>
                                    <th>30.02.2016</th>
                                    <td class="text-right"><a href="#" class="text-center text-success"><i class="fa fa-gear"></i></a></td>
                                </tr>
                                <tr>
                                    <td class="text-left">3</td>
                                    <td>Васильев Василий Васильевич</td>
                                    <td>89182645987</td>
                                    <th>30.02.2016</th>
                                    <td class="text-right"><a href="#" class="text-center text-success"><i class="fa fa-gear"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="widget"></div>
        </div>
    </div>
</div>

